
{% extends 'layout/base.html' %}

{% block title %}PDF{% endblock %}

{% block content %}
<style>
#uploader {
  min-height: 350px;
  padding-top: 178px;
  text-align: center;
  color: #ccc;
  font-size: 18px;
  position: relative;
  border: 1px solid #eee;
}
.hover {
  border: 1px solid #000;
}
</style>
<main>
<form 
  <div ="filePicker"></div>
  <div id="uploader"></div>
</main>

<script>

function sendFile(file) {
    var uri = "/.upload";
    var xhr = new XMLHttpRequest();
    var formData = new FormData();
    formData.append('path', 'myPath');
    formData.append('file', file);
    
    xhr.open("POST", uri, true);
    xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
            console.log(xhr.responseText); // handle response.
        }
    };

    xhr.upload.addEventListener("progress", function(e) {
       if (e.lengthComputable) {
         var percentage = Math.round((e.loaded * 100) / e.total);
         console.log(percentage);
       }
     }, false);
    
    xhr.send(formData);
}


var holder = document.getElementById('uploader');
holder.ondragover = function () { this.className = 'hover'; return false; };
holder.ondragend = function () { this.className = ''; return false; };
holder.ondrop = function (event) {
  event.stopPropagation();
  event.preventDefault();

  var filesArray = event.dataTransfer.files;
  for (var i=0; i<filesArray.length; i++) {
    sendFile(filesArray[i]);
  }
};


</script>
{% endblock %}

